#input {
  width: 50%;
  margin-left: 25% !important;
  margin-top: 3% !important;
}

h3 {
  text-align: center;
  margin-top: 5%;
  font-size: 4rem;
}

table {
  width: 80%;
  margin-top: 3%;
  margin-left: 10%;
  td {
      font-size: 2rem;
  }
  button {
      font-size: 1.5rem;
  }
}
